.Background {
  background-image: url("./resources/app_background.jpg");
  background-size: 100% 100%;
  width: 100%; height: 100%;
  position: absolute;
}

.weather-forecast {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgb(173, 216, 230, .75);
  border-radius: 25px;
  text-align: center;
  padding-right: 35px
}

.weather-icon {
  width: 50px;
  height: 50px;
  padding: 8px 25px 8px 25px;
}

.list-style li {
  list-style-type: none;
  float: left;
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}